
/*-----------------------------------------Основная страница------------------------------------------------------------------*/
body {
	min-width: 1200px;
  	min-height: 2762px;
  	margin: 0;
  	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 26px;
  	font-weight: 400;
  	color: #000000;
  	text-transform: uppercase;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}
.container {
	width: 1200px;
	margin: 0 auto;	
}
.main-header {
	position: relative;	
}
.main-navigation {
	display: flex;
	align-items: center;
	min-height: 56px;
	background-color: #ffffff;
	font-weight: 700;
}
.main-header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 693px;
}
.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;	
	padding-left: 69px;
	padding-right: 69px;
	list-style: none;	
}
.site-navigation li {
  	width: 240px;
  	margin: 0;
  	padding: 0;	
}
.site-navigation li:nth-child(3) {
  	 text-align: right;
  	 margin-left: 90px;
}
.site-navigation li:nth-child(4) {
  	text-align: right; 
}
.site-navigation a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}
.intro-image {
	margin: 0;
  	padding: 0;
  	width: 1200px;
  	height: 509px;
  	background-image: url("../img/sedona.jpg"); 	
  	background-repeat: no-repeat;
  	margin-bottom: 60px;
}
.intro-description {
	text-align: center;
	margin-bottom: 54px;	
}
.intro-description h2 {
	font-size: 21px;
	margin-bottom: 25px;
}
.reason-first,
.reason-second {
	display: flex; 
	text-align: center;	
	background-color: #81b3d2;
	color: #ffffff;	
}
.reason-first-desc,
.reason-second-desc {
	width: 400px;
  	height: 256px;
  	box-sizing: border-box;
  	padding-top: 44px;
  	padding-bottom: 60px;
}
.reason-first-desc h3,
.reason-second-desc h3 {
	margin: 0;
  	padding: 0;
  	font-weight: 700;
  	font-size: 21px;
  	margin-bottom: 15px;
}
.reason-first-desc .number {
	margin: 0;
  	line-height: 21px;
}
.features-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;	
	flex-wrap: wrap;
}
.feature-item {	
	width: 400px;
	height: 330px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}
.feature-item h3 {
	font-size: 21px;
	margin: 0;
	padding: 0;
	padding-top: 158px;
	padding-bottom: 5px;
}
.icon-house::before {
  	content: "";
  	position: absolute;
  	top: 60px;
  	left: 162px;
  
  	width: 75px;
  	height: 72px;
  
  	background-image: url("../img/house.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.icon-food::before {
  	content: "";
  	position: absolute;
  	top: 60px;
  	left: 162px;
  
  	width: 74px;
  	height: 70px;
  
  	background-image: url("../img/food.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.icon-souvenir::before {
  	content: "";
  	position: absolute;
  	top: 60px;
  	left: 162px;
  
  	width: 64px;
  	height: 76px;
  
  	background-image: url("../img/souvenir.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.reasons-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;	
	flex-wrap: wrap;
	background-color: #eeeeee;
}
 .reason-item {	
	width: 400px;
	height: 256px;
	box-sizing: border-box;
	text-align: center;
}
.reason-item h3 {
	font-size: 21px;
	margin: 0;
	padding: 0;
	padding-top: 42px;
	padding-bottom: 15px;
}
.reasons {
	margin: 0;
	padding: 0;
	margin-bottom: 55px;
}

.search-hotel {
	text-align: center;
}
.search-hotel h2 {
	font-size: 30px;
}
.search-info {
	margin: 0;
	padding: 0;
	margin-bottom: 47px;
}
.search-button {
	display: inline-block;
  	padding-top: 28px;
  	padding-bottom: 33px;
  	padding-left: 138px;
  	padding-right: 139px;
	background-color: #766357;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
}
.modal {
	position: absolute;
    left: 475px;
    box-sizing: border-box;
    width: 568px;
    padding: 55px;
    font-weight: 700;
    font-size: 14px;    
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.search-btn {
	display: inline-block;
  	padding-top: 17px;
  	padding-bottom: 22px;
  	padding-left: 196px;
  	padding-right: 197px;
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
	border: none;
	text-transform: uppercase;
}
.search-btn:hover,
.search-btn:focus {
	background-color: #669ec0;
}
.search-btn:active {
	background-color: #5496bd;
}
.search-item label {
	display: inline-block;
	vertical-align: middle;
	width: 105px;
	margin: 0;
	padding: 0;
}
.search-item input {
	box-sizing: border-box;
	width: 346px;
	height: 38px;	
	padding-right: 12px;
	padding-left: 12px;
	text-transform: uppercase;
}
.search-item-adults,
.search-item-child {
	
	display: inline-block;
	vertical-align: middle;
}
.search-item-adults input,
.search-item-child input {
	box-sizing: border-box;
	width: 38px;
	height: 38px;	
	padding-right: 16px;
	padding-left: 14px;
}
.btn-minus,
.btn-plus {
	width: 38px;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    color: #a9a9a9;
    background: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-form input[type="text"] {
  	font: inherit; 	
  	background-color: #f2f2f2;
  	border: none;
}
.search-form input[type="button"] {
  	font: inherit;
  	background-color: #f2f2f2;
  	border: none;
}
.search-form input:hover {
  	background-color: #ebebeb;
}
.search-form input:focus {
  	background-color: white;
	border: 2px solid #e5e5e5;
}
.main-footer {
	margin-top: 12px;
}
.main-footer .container {
	display: flex;
	align-items: center;
}
.hashtag {
	width: 136px;
	margin: 0;
	padding: 0;
	margin-left: 132px;
	margin-right: 215px;
	text-align: center;
	font-weight: 700;
	font-size: 21px;
}
.footer-sotial {
	width: 152px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.footer-social ul {
	width: 152px;
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	list-style: none;	
}
.footer-social a {
	background-color: #81b3d2;
	color: #ffffff;
}
.footer-copyright {
	display: flex;
	width: 200px;
	margin: 0;
	padding: 0;
	margin-left: 227px;
}
.footer-copyright b {
	margin: 0;
	padding: 0;
	margin-right: 5px;
}
.social-button {
	display: flex;
	align-items: center;
  	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}
.social-button:hover {
	background-color: #669ec0;
}
.sotial-button:active {
	background-color: #5496bd;
}
.social-button:hover path,
.social-button:focus path {
  	fill: #ffffff;
}
.social-button:active path {
	fill: #eeeeee; 
}
.copyright-button {
	background-color: #000000;
	color: #ffffff;
}
.copyright-button {
	display: flex;
	width: 113px;
	height: 39px;
	background-color: #ffffff;
}
.copyright-button:hover path,
.copyright-button:focus path {
  	fill: #81b3d2;
}
.copyright-button:active path {
	fill: #bdbbbc; 
}
/*-------------------------------------------------Внутрення страница-------------------------------------------------------*/
.filters {
	width: 1200px;
	height: 217px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 67px;
	padding-right: 67px;
	background-image: url("../img/inner-background.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
}
.filter {
	display: flex;
}

/*.filter fieldset {
	border: none;
}
.filter legend {
  	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}
.filter ul {
	list-style: none;
	line-height: 21px;
}
.filter-range {
	color: #ffffff;
}
.price-controls label {
	font-size: 14px;
	line-height: 21px;
	cursor: pointer;
}
.price-controls input {
	color: inherit;
  	font: inherit;
  	background: none;
  	border: none;
}
/*.filter-input:hover + label,
.filter-input:focus + label {
  	color: #663d15;
}
.filter-input:disabled + label {
  	color: #000000;
  	opacity: 0.5;
}
*/
/*.catalog {
	width: 1056px;
	min-height: 456px;
}
.btn-transparent {
	font-size: 14px;
  	line-height: 20px;
  	color: #ffffff;
  	text-transform: uppercase;
  	background: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	cursor: pointer;
}
.search-result-left {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.search-result-right {
	list-style: none;
	font-size: 12px;
	line-height: 18px;
}
.search-result-right a {
	color: #000000;
	opacity: 0.3;
	border-bottom: 1px dotted #81b3d2;
}
.search-result-right a:hover,
.seach-result-right a:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}
.catalog-list {
	list-style: none;
}
.catalog-item {
	border-top: 2px solid #e5e5e5;
}
.catalog-item:last-child {
	border-bottom: 2px solid #e5e5e5;;
}
.catalog-item-title {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}
.catalog-item-price {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
.catalog-item-buttons {
	color: red;
}
.button-read-more {
	color: #ffffff;
	background-color: #81b3d2;
}
.button-read-more:hover,
.button-read-more:focus {
	background-color: #669ec0;
}
.button-booking {
	background-color: #766357;
	color: #ffffff;
}
.button-booking:hover,
.button-read-more:focus {
	background-color: #604e43;
}
.catalog-item-rating span {
	background-color: #f2f2f2;
	color: #666;
}