
/*-----------------------------------------Основная страница------------------------------------------------------------------*/
body {
  	margin: 0;
  	padding: 0;	
	font-family: "PT Sans", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 26px;
  	font-weight: 400;
  	color: #000000;
  	text-transform: uppercase;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
  	white-space: nowrap;
  	-webkit-clip-path: inset(100%);
  	        clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}
.container {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	-webkit-box-shadow: 0 -5px 9px 2px #dbdbdb;
	        box-shadow: 0 -5px 9px 2px #dbdbdb;
}
.main-header {
	position: relative;	
}
.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 56px;
	background-color: #ffffff;
	font-weight: 700;
}
.main-header-logo {
	position: absolute;
	top: 0;
	right: 50%;
	width: 138px;
	height: 70px;	
	margin-right: -69px;
}
.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 70px;
	padding-right: 70px;		
}
.site-navigation li {
  	width: 240px;
  	margin: 0;
  	padding: 0;
 }
.site-navigation li:nth-child(3) {
  	 text-align: right;
  	 margin-left: 90px;
}
.site-navigation li:nth-child(4) {
  	text-align: right; 
}
.site-navigation a {
  	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  	color: #81b3d2;
}
.site-navigation a:active {
  	color: rgba(0, 0, 0, 0.302);
}
.intro-image {
  	width: 1200px;
  	height: 509px;
  	background-image: url("../img/sedona.jpg"); 	
  	background-repeat: no-repeat;
  	margin: 0;
  	margin-bottom: 57px;
}
.intro-description {
	margin: 0;
	margin-bottom: 54px;
	text-align: center;	
}
.intro-description h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 21px;
}
.reason-first,
.reason-second {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	text-align: center;	
	background-color: #81b3d2;
	color: #ffffff;	
}
.reason-first-desc,
.reason-second-desc {
	width: 400px;
  	height: 256px;
  	-webkit-box-sizing: border-box;
  	        box-sizing: border-box;
  	padding: 0;
  	padding-top: 44px;
  	padding-bottom: 60px;
}
.reason-first-desc h3,
.reason-second-desc h3 {
	margin: 0;
  	padding: 0;
  	font-weight: 700;
  	font-size: 21px;
  	margin-bottom: 15px;
}
.reason-first-desc .number {
	margin: 0;
  	line-height: 21px;
}
.features-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-wrap: wrap;	
	    flex-wrap: wrap;
}
.feature-item {	
	width: 400px;
	height: 330px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	position: relative;
}
.feature-item h3 {
	font-size: 21px;
	margin: 0;
	padding: 0;
	padding-top: 158px;
	padding-bottom: 5px;
}
.icon-house::before {
  	content: "";
  	position: absolute;
  	top: 60px;
  	left: 162px;  
  	width: 75px;
  	height: 72px;  
  	background-image: url("../img/house.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.icon-food::before {
  	content: "";
  	position: absolute;
  	top: 60px;
  	left: 162px; 
  	width: 74px;
  	height: 70px; 
  	background-image: url("../img/food.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.icon-souvenir::before {
  	content: "";
  	position: absolute;
  	top: 60px;
  	left: 162px;  
  	width: 64px;
  	height: 76px;  
  	background-image: url("../img/souvenir.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.reasons-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-wrap: wrap;	
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;	
	background-color: #eeeeee;
}
 .reason-item {	
	width: 400px;
	height: 256px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
}
.reason-item h3 {
	margin: 0;
	padding: 0;
	padding-top: 42px;
	padding-bottom: 15px;
	font-size: 21px;
}
.reasons {
	margin: 0;
	padding: 0;
	margin-bottom: 55px;
}
.search-hotel {
	text-align: center;
}
.search-hotel h2 {
	font-size: 30px;
}
.search-info {
	margin: 0;
	padding: 0;
	margin-bottom: 47px;
}
.search-button {
	display: inline-block;
  	padding-top: 28px;
  	padding-bottom: 33px;
  	padding-left: 138px;
  	padding-right: 139px;
	background-color: #766357;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
}
.search-button:hover {
	background-color: #604e43;
} 
.search-button:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
} 
.search-form-wrapper {
	position: relative;
}
.search-form {
	position: absolute;
	top: 0;
	left: 50%;
	width: 568px;
	margin-left: -284px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 42px;
	padding-bottom: 55px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	        box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.date-arrival,
.date-departure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.date-arrival label,
.date-departure label {
	width: 95px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}
.date-arrival input,
.date-departure input {
	width: 346px;
	height: 38px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 12px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
	border: 0;
}
.date-input:hover {
	background-color: #ebebeb;
}
.date-input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}
.date-arrival {
	margin-bottom: 30px;	
}
.date-arrival,
.date-departure {
	position: relative;
}
.date-arrival button,
.date-departure button {
	position: absolute;
	right: 3px;
	top: 6px;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.calendar-button:hover path,
.calendar-button:focus path {
  	fill: #000000;
}
.calendar-button:active path {
	fill: #81b3d2; 
}
.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1200px;
	height: 120px;
	margin: 0;
	padding: 0;
	padding: 42px 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 40px;
}
.number-adults,
.number-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.number-adults label {
	width: 71px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	margin-right: 41px;
}
.number-child label {
	width: 38px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	margin-right: 27px;	
}
.number-adults input,
.number-child input {
	width: 38px;
	height: 38px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
	border: 0;
}
.btn-number {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: 0;
	cursor: pointer;
}
.icon-minus {
	position: relative;
	width: 38px;
	height: 38px;	
	background-color: #f2f2f2;
	top: 0;
	left: 0;
}
.icon-minus::after {
	content: "";
  	position: absolute;
  	top: 18px;
  	left: 13px;
  	width: 12px;
  	height: 3px;
  	background-color: #a9a9a9;
}
.icon-plus {
	position: relative;
	width: 38px;
	height: 38px;	
	background-color: #f2f2f2;
	top: 0;
	left: 0;
}
.icon-plus::after {
	content: "";
  	position: absolute;
  	top: 18px;
  	left: 13px;
  	width: 12px;
  	height: 3px;
  	background-color: #a9a9a9;
}
.icon-plus::before {
	content: "";
  	position: absolute;
  	top: 18px;
  	left: 13px;
  	width: 12px;
  	height: 3px;
  	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.icon-minus:hover::after,
.icon-plus:hover::after,
.icon-plus:hover::before {
	 background-color: #000000;
}
.icon-minus:active::after,
.icon-plus:active::after,
.icon-plus:active::before {
	background-color: #81b3d2;
}
.map {
	background-image: url("../img/map.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 470px;
}
.search-btn {
	width: 458px;
	height: 58px;
	background-color: #81b3d2;
	text-align: center;
	vertical-align: middle;
	border: none;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color:#ffffff;
	cursor: pointer;
}
.search-btn:hover {
	background-color: #669ec0;
}
.search-btn:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}
.hashtag {
	width: 136px;
	margin: 0;
	padding: 0;
	margin-left: 132px;
	margin-right: 215px;
	text-align: center;
	font-weight: 700;
	font-size: 21px;
}
.footer-sotial {
	width: 152px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.footer-social ul {
	width: 152px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	
	-webkit-box-pack: justify;	
	    -ms-flex-pack: justify;	
	        justify-content: space-between;
	list-style: none;	
}
.footer-social a {
	background-color: #81b3d2;
	color: #ffffff;
}
.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 200px;
	margin: 0;
	padding: 0;
	margin-left: 227px;
}
.footer-copyright b {
	margin: 0;
	padding: 0;
	margin-right: 5px;
}
.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}
.social-button:hover {
	background-color: #669ec0;
}
.sotial-button:active {
	background-color: #5496bd;
}
.social-button:hover path,
.social-button:focus path {
  	fill: #ffffff;
}
.social-button:active path {
	fill: #eeeeee; 
}
.copyright-button {
	background-color: #000000;
	color: #ffffff;
}
.copyright-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 113px;
	height: 39px;
	background-color: #ffffff;
}
.copyright-button:hover path,
.copyright-button:focus path {
  	fill: #81b3d2;
}
.copyright-button:active path {
	fill: #bdbbbc; 
}
/*-------------------------------------------------Внутрення страница-------------------------------------------------------*/
.site-navigation .current a {
	color: #766357;
	display: block;
}
.filters {
	width: 1200px;
	min-height: 217px;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 26px;
	padding-bottom: 26px ;
	padding-left: 72px;
	padding-right: 72px;
	background-image: url("../img/inner-background.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
}
.filter-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1056px;
	padding: 0;
}
.filter-form fieldset {	
	padding: 0;
	border: none;
}
.filter-form legend {
	margin: 0;
	padding: 0;	
	font-size: 16px;
  	line-height: 21px;
  	font-weight: bold;
  	color: #ffffff;
  	margin-bottom: 25px;
}
.filter-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.filter-option {
	margin: 0;
  	padding: 0;
  	margin-bottom: 23px;
}
.filter-form-infrastructure {
	width: 241px;
}
.filter-range {
	margin-left: auto;
}
.filter-label {
	position: relative;
	padding-top: 6px;
	padding-left: 35px;	
	cursor: pointer;
}
.filter-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 1px;
	width: 22px;
	height: 22px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.7;
}
.filter-input:checked +.filter-label::before {
	width: 26px;
	height: 22px;
	background-image: url("../img/checkbox-on.svg");
}
.filter-input + .filter-label:hover::before {
	opacity: 1;
}
.filter-input+.filter-label::disabled:before {
	opacity: 0.2;
} 
.filter-input:checked +.filter-label:hover::before {
	opacity: 1;
}
.filter-input:checked +.filter-label:disabled::before {
	opacity: 0.2;
}
.filter-range {
	width: 317px;
}
.filter-range legend {
	margin-bottom: 7px;
}
.price-controls {
  	position: relative;
  	height: 36px;
  	margin-bottom: 18px;
	font-size: 0;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
}
.price-controls::after {
  	content: "";
  	position: absolute;
	top: 50%;
	left: 50%;
  	width: 2px;
  	height: 22px;
  	background: #ffffff;
  	-webkit-transform: translate(-50%, -50%);
  	    -ms-transform: translate(-50%, -50%);
  	        transform: translate(-50%, -50%);
}
.price-controls label {
  	display: inline-block;
  	font-size: 14px;
  	line-height: 21px;
  	vertical-align: middle;
  	cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  	width: 90px;
  	padding-left: 65px;
}
.price-controls input {
  	width: 50px;
  	-webkit-box-sizing: border-box;
  	        box-sizing: border-box;
  	padding-top: 10px;
  	padding-bottom: 12px; 	
  	color: inherit;
  	font: inherit;
  	background: none;
  	border: none;
}
.range-controls {
  	position: relative;
  	margin-bottom: 32px;
}
.range-controls .scale {
  	height: 2px;
  	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  	width: 80%;
  	height: 2px;
  	background: #ffffff;
}
.range-toggle {
  	position: absolute;
  	top: -9px;
  	width: 4px;
  	height: 4px;
  	background: #ababab;
  	border: 8px solid #ffffff;
    border-radius: 50%;
  	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}
.range-toggle:hover {
	background: #1c4f80;
}
.range-toggle-min {
  	left: 0;
}
.range-toggle-max {
  	left: 80%;
}
.btn-transparent {
	display: block;
  	margin: 0 auto;
  	padding: 6px 33px;
  	font-size: 14px;
  	line-height: 20px;
  	color: #ffffff;
  	text-transform: uppercase;
  	background: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	cursor: pointer;
}
.btn-transparent:hover {
	background-color: #ffffff;
	color: #000000;
}
.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;			
	margin: 0;
	padding: 0;	
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 30px;
	color: #ffffff;
}
.sorting b {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	padding: 0;
	margin-right: 48px;
}
.sorting p {
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-right: 37px; 	
}
.sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; 	
  	list-style: none;
  	width: 250px; 
  	margin: 0;
  	padding: 0;  		
}
.sorting-list a {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
	border-bottom: 1px dotted #81b3d2;
}
.sorting-list .sorting-active {
	color: #81b3d2;
	border: none;
	opacity: 1;
}
.sorting-list a:hover {
	color: #81b3d2;
	opacity: 1;
}
.sorting-list a:active {
	color: #000000;
	opacity: 1;
	border: none;
}
.sorting-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
a.arrow,
a.arrow-active {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 25px;    
    text-indent: -9999px;
}
.arrow::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: 38px;
    right: 50px;
}
.arrow-active::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: 38px;
    right: 50px;
}
.arrow-up::before {
    border-top-width: 0;
    border-bottom: 10px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    opacity: 0.3;
}
.arrow-down::before {
    border-bottom-width: 0;
    border-top: 10px solid #81b3d2;;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.arrow-up:hover::before {
    color: #000000;
    opacity: 1;
}
.arrow-up:active::before {
    color: #81b3d2;
    opacity: 1;
}
.catalog-item {
	width: 1200px;
  	height: 150px;
  	margin: 0;
  	padding: 0;
  	padding-top: 30px;
  	padding-bottom: 30px;
  	padding-left: 72px;
  	padding-right: 72px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  	border-top: 1px solid #e5e5e5;
}
.catalog-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}
.catalog-item-wrapper {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;    
  	-webkit-box-pack: justify;    
  	    -ms-flex-pack: justify;    
  	        justify-content: space-between;  	
}
.catalog-item-desc {
	width: 270px;
	height: 90px;
	margin: 0;
	padding: 0;
	margin-left: 30px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.catalog-item-title h3 {
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	margin-top: -5px;
}
.catalog-item-title h3:hover {
	color: #81b3d2;
}
.catalog-item-title h3:active {
	opacity: 0.3;
	color: #000000;
}
.catalog-item-title {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}	
.catalog-item-desc b {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 17px;
	font-weight: normal;	
}
.catalog-item-desc .type-housing {
	width: 110px;
	margin-right: 5px;
}
.button-read-more {
	display: inline-block;
  	padding-top: 3px;
  	padding-bottom: 3px;
  	padding-left: 17px;
  	padding-right: 17px;
  	font-size: 14px;
  	line-height: 20px;  	
  	text-transform: uppercase;  	
  	cursor: pointer;
	color: #ffffff;
	background-color: #81b3d2;
}
.button-booking {
	display: inline-block;
  	padding-top: 3px;
  	padding-bottom: 3px;
  	padding-left: 16px;
  	padding-right: 16px;
  	font-size: 14px;
  	line-height: 20px;  	
  	text-transform: uppercase;  	
  	cursor: pointer;
	color: #ffffff;
	background-color: #766357;
	margin-left: 4px;
}
.button-read-more:hover,
.button-read-more:focus {
	background-color: #669ec0;
	outline: none;
}
.button-read-more:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}
.button-booking:hover,
.button-booking:focus {
	background-color: #604e43;
	outline: none;
}
.button-booking:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}
.catalog-item-rating {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	position: relative;
}
.catalog-item-rating span {
	padding: 3px 13px;
	margin-top: 60px;
	color: #666666;
	background-color: #f2f2f2;
}
.star-4 {
	content: "";
	position: absolute;
	top: 0;
	left: 20px;
	width: 89px;
	height: 17px;
	background-image: url("../img/star-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.star-3 {
	content: "";
	position: absolute;
	top: 0;
	left: 40px;
	width: 65px;
	height: 17px;
	background-image: url("../img/star-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.star-2 {
	content: "";
	position: absolute;
	top: 0;
	left: 60px;
	width: 42px;
	height: 17px;
	background-image: url("../img/star-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.form-show {
	display: none;
}
@-webkit-keyframes form-bounce {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes form-bounce {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}
.form-error {
  -webkit-animation: shake 0.6s ease;
          animation: shake 0.6s ease;
}